<p>
    This is the first official evaluation phase of the competition. Submissions will be evaluated on the <code>val</code> split of the <code>social-hm3d</code> dataset, which consists of approximately <strong>1,000 RGB-D episodes</strong>. The goal is to assess the generalization performance of your model in previously unseen scenes with realistic human motion and layout diversity.
  </p>
  
  <p>
    Participants are encouraged to explore advanced model designs, including large pretrained models such as CLIP, VLMs, or vision-language agents. We welcome <strong>train-free</strong>, <strong>zero-shot</strong>, or hybrid approaches that leverage general-purpose perception and reasoning capabilities. Use of publicly available pretrained models is allowed, provided they are clearly cited and reproducible.
  </p>
  
  <p>
    To ensure fairness, all models must be trained primarily on the provided <code>social-hm3d/train</code> split. The use of private datasets or scene-level priors from the validation split is strictly prohibited. Use of additional public datasets (e.g., iGibson, MP3D trajectories) is permitted only if: (1) the data is fully public and widely accessible, and (2) all details of its usage are clearly cited and documented in the method description for full reproducibility.
  </p>
  
  <p>
    Submissions in this phase are run through the full remote evaluation pipeline. Scores for all metrics (SR, SPL, PSC, and H-Coll) will be computed and reported. The resulting performance will be reflected on the <strong>public leaderboard</strong>.
  </p>
  
  <p>
    A maximum of <strong>1 submission per day</strong> is allowed in this phase, with a total limit of <strong>10 submissions</strong>. Please ensure each submission is meaningful and reproducible.
  </p>
    
  <p>  
  <br><strong>Note:</strong> The leaderboard will display only your <strong>best submission</strong>.
  </p>
  