<hr>

<h4 class="title is-4">📝 Submission Format</h4>

<p>
  To encourage broad participation while respecting teams' intellectual property, we allow action-based submissions in early phases. Code submissions will be required in later phases to ensure reproducibility and scientific integrity. 
</p>

<p>
Participants may submit their results in the following formats:
</p>

<strong>Code Submission (<code>submission.zip</code>)</strong>:  
For full reproducibility, participants can submit a single <code>submission.zip</code> archive that will be executed inside the evaluation Docker container. The archive must follow the structure below:
<pre>
submission.zip
├── run.sh                   # Entry point script (must be executable)
├── config.yaml              # YAML config for inference (optional)
├── model.pth                # Pretrained weights (optional)
├── custom_policy.py         # Your custom policy or inference logic (optional)
├── ...
</pre>
The evaluator will unzip your archive and call <code>./run.sh</code>. Your script must generate predictions at <code>output/result.json</code>, which will be generated defaultly by <code>falcon_evaluator.py</code> and parsed to compute scores.

<p>
You may upload the submission via the EvalAI web UI or CLI:
</p>

<p>
  <ul>
    <li><a href="https://drive.google.com/file/d/1k5tMeocASZhCUL2SFUILqWTszNRYjC4L/view?usp=sharing" target="_blank">Full model submission template</a></li>
    <li><a href="https://drive.google.com/file/d/1IRg5iPrWOOKKL6hTCWzZ2deQPLerBAMX/view?usp=sharing" target="_blank">Mini model submission template</a></li>
  </ul>
</p>

<h4 class="title is-4"> 🧱 Evaluation Docker Image </h4>
<p>
We provide a standardized Docker environment to ensure consistency and reproducibility across all submissions. The Docker image used for evaluation: <code>docker pull zeyinggong/robosense_socialnav:v0.7</code>
</p>

<p>
Participants are strongly encouraged to use the image for local development and testing to ensure compatibility with the remote evaluation environment. We recommend using the <strong>Minival Phase</strong> for testing, as submission attempts in the test phase are limited. You can also refer to the <strong>Baseline ZIP Example</strong> for packaging your submission.
</p>

<p> 
⏱ <strong>Evaluation Time:</strong> 
The <strong>Minival Phase</strong> typically completes evaluation within 5-10 minutes. 
The  <strong>Test Phase</strong> evaluation may take approximately 1-2 hours, depending on the number of environments used for inference, queue length, and inference runtime. 
</p>  

<hr>

<h4 class="title is-4">📊 Result Format</h4>

<p>
Our baseline uses <code>habitat_baselines.eval</code> to run simulation and inference, then automatically generates a result file at <code>output/result.json</code>. The file contains the final scores in the following format:
</p>

<pre><code>{
  "SR": 0.50,
  "SPL": 0.50,
  "PSC": 0.50,
  "H-Coll": 0.50,
  "Total": 0.50
}
</code></pre>

</p>

<p>
Participants are free to implement their own pipeline as long as <code>run.sh</code> produces a valid <code>result.json</code> at the expected location. However, note that all submissions must run actual inference and simulation within the container. Any submission found to bypass the evaluation logic or produce a fabricated <code>result.json</code> without executing the intended inference and simulation pipeline will be disqualified.
</p>

<h4 class="title is-4">📁 Dataset Mounting and Access Policy</h4>

<p>
To simplify evaluation, we use a fixed <code>minival</code> mount point inside the evaluation Docker container:
</p>

<pre><code>/app/Falcon/data/datasets/pointnav/social-hm3d/minival</code></pre>

<p>
Internally, our backend <strong>automatically mounts the appropriate dataset</strong> for each phase onto this path. This means your code only needs to read from this single location regardless of which phase is being evaluated.
</p>