<p>
This competition is made freely available to academic and non-academic entities for non-commercial purposes such as academic research, teaching, scientific publications, or personal experimentation. By participating in this competition, you agree to the following:
</p>

<ol>
    <li>
    The data in this competition is provided “AS IS”, without express or implied warranty. Although every effort has been made to ensure accuracy, the organizers do not accept any responsibility for errors or omissions.
    </li>
    <li>
    You may not use the data in this competition or any derivative work for commercial purposes (e.g., licensing, selling, or using it for commercial gain).
    </li>
    <li>
    Any work using this benchmark (including results, code, or models) must reference RoboSense. Please cite our preferred publications as listed on the official website.
    </li>
</ol>

<p>
To ensure a fair comparison among all participants, the following rules apply:
</p>

<ol>
    <li>
    All participants must use the exact same dataset and configuration specified in the competition. The use of external public or private datasets for training or evaluation is strictly prohibited.
    </li>
    <li>
    The theme of this competition is to probe the social navigation capability of embodied agents. Any use of unauthorized modifications (e.g., direct manipulation of evaluation metrics or human position annotations) is prohibited.
    </li>
    <li>
    To enforce compliance, participants may be requested to submit code and logs that reproduce their results. These will be manually reviewed before final leaderboard results are announced.
    </li>
</ol>

<p>
&copy; The RoboSense Organizing Team. All rights reserved.
</p>