<ol>
    <li>
    All participants must use the exact same dataset and configuration specified in the competition. The use of external public or private datasets for training or evaluation is strictly prohibited.
    </li>
    <li>
    The theme of this competition is to probe the social navigation capability of embodied agents. Any use of unauthorized modifications (e.g., direct manipulation of evaluation metrics or human position annotations) is prohibited.
    </li>
    <li>
    To enforce compliance, participants may be requested to submit code and logs that reproduce their results. These will be manually reviewed before final leaderboard results are announced.
    </li>
</ol>

